includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Doctrine DBAL

        - '#expects string\|null, Doctrine\\DBAL\\Query\\Expression\\CompositeExpression given#'

        # Symfony

        - '#with generic interface Symfony\\Component\\(Form|OptionsResolver)\\\w+ but does not specify its types: (TData|TArray)#'
        - '#extends generic class Symfony\\Component\\Form\\\w+ but does not specify its types: TData#'
