services:
    netgen_layouts.ibexa.configuration.config_resolver:
        class: Netgen\Bundle\LayoutsIbexaBundle\Configuration\ConfigResolverConfiguration
        decorates: netgen_layouts.configuration
        arguments:
            - "@ibexa.config.resolver"
            - "@.inner"
